body {
    font-family: charis_silregular, serif;
    font-size: 18px;
}

h1, h2 {
    font-family: andikaregular, sans-serif;
    font-weight: normal;
}

ul {
    padding: 0;
}

div.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 3em 1em 1em 1em;
}

